<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Veuillez crée votre compte</h1>
    <div class="userCreate">
      <form class="" action="../controlleur/regist.php" method="post">
        <label for="">creation user</label>
        <input type="text" name="user" value="user">
        <input type="password" name="mdp" value="mdp">
        <input type="submit" name="send" value="send">
      </form>
    </div>
  </body>
</html>
